fastapi==0.100.0
uvicorn[standard]==0.23.1
sqlalchemy[asyncio]==2.0.19
asyncpg==0.28.0

pydantic~=2.0.3

pytest==7.4.0
pytest-asyncio==0.21.1
httpx== 0.24.1
asyncio==3.4.3

pre-commit==3.3.3
redis==4.6.0
